.Big {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 644px;
  row-gap: 20px;
}
.inner {
  background: linear-gradient(180deg, #61ddee 0%, rgba(255, 255, 255, 0) 100%),
    #00b2ca;
  border-radius: 50%;
  width: 644px;
  height: 644px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  color: #f6f4f5;
}

.info {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #f6f4f5;
}
