body{
  background-color: #ffe6cc
}

.Big {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.inner {
  background: linear-gradient(180deg, #61ddee 0%, rgba(255, 255, 255, 0) 100%),
    #00b2ca;
  border-radius: 50%;
  padding: 1vmin;
  width: 60vmin;
  height: 60vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 9vmin;
  color: #f6f4f5;
}

.info {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 9vmin;
  font-size: 3vmin;
  color: #f6f4f5;
}

.container {
  visibility: hidden;
}