.outer {
  background: linear-gradient(180deg, #61ddee 0%, rgba(255, 255, 255, 0) 100%),
    #00b2ca;
  border-radius: 50%;
  width: 19vw;
  height: 19vw;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
}

.nameSmall {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 3vw;
  line-height: 3.2vw;
  color: #f6f4f5;
}


